{% extends "layouts/layout.html" %}

{% block content %}

{% from 'macros/forminput.html' import form_input %}
    <!--form-- action="/category" method="post">
        <div class="container">
            {{  form_input("Category Name", "text", "name", "categoryName") }}
            <button class="btn" type="submit">Submit</button>
        </div>
    </form-->

    <form action="/category" method="POST">
        <input type="text" name="name" placeholder="Category name">
        <input type="submit" value="Add Category">
        <button class="btn" type="submit">Submit</button>
    </form>
{% endblock %}