{% extends "layouts/layout.html" %}

{% block content %}
  <div class="products">
    <h2>Available Products</h2>
    {% for product in products %}
      <div class="product-card">
        <a href="{{ url_for('routes.product_detail', product_id=product['id']) }}">
          <img src="{{ url_for('static', filename=product.image.split('assets/')[1]) }}" width="150">
          <h3>{{ product.name }}</h3>
        </a>
        <a href="order/{{product['id']}}">
          <button class="btn">Order!</button>
        </a>
      </div>
    {%endfor%}
  </div>

{% endblock %}